/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar{
  background-color: rgb(37, 35, 35);
  padding: 1.5%;
  color: aquamarine;
  text-align: center;
}

.btnstyle {
  /* float: right; */
  background-color: rgb(37, 35, 35);
  color: aquamarine;
  margin: 4px;
}

.auth {
  text-align: right;
  margin-top: 7px;
  /* border: 1px solid blueviolet; */
}

.fooditemsDiv {
  /* border: 1px solid blueviolet; */
  margin: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.columBox {
  width: 25%;
  padding: 2%;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border: 2px solid chocolate; */
}

.rowBox{
  height: 100%;
  /* flex: 1; */
  /* border: 1px solid cadetblue; */
}
.img {
  width: 100%;
  height: 270px;
}
/* .imgbox {
  border: 1px solid blue;
  width: 70%;
  margin: 1%;
  
} */