.navbar{
  background-color: rgb(37, 35, 35);
  padding: 1.5%;
  color: aquamarine;
  text-align: center;
}

.btnstyle {
  /* float: right; */
  background-color: rgb(37, 35, 35);
  color: aquamarine;
  margin: 4px;
}

.auth {
  text-align: right;
  margin-top: 7px;
  /* border: 1px solid blueviolet; */
}

.fooditemsDiv {
  /* border: 1px solid blueviolet; */
  margin: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.columBox {
  width: 25%;
  padding: 2%;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border: 2px solid chocolate; */
}

.rowBox{
  height: 100%;
  /* flex: 1; */
  /* border: 1px solid cadetblue; */
}
.img {
  width: 100%;
  height: 270px;
}
/* .imgbox {
  border: 1px solid blue;
  width: 70%;
  margin: 1%;
  
} */

.addCartBtn {
  margin-top: 3%;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  background-color: rgb(149, 228, 202);
  border: none;
}




/* cart page css */


/* main cart details box */
.cartItem {
  /* border:1px solid lawngreen; */
  margin: auto;
  margin-top: 3%;
  width: 70%;
  padding: 8px;
  color: rgb(7, 118, 81);
}

/* cart details heading */
.cartColumnheading {
  width: 100%;
  /* padding-left: 5%; */
  /* border: 1px solid lawngreen; */
}

.cartColumnheading td{
  width: 20%;
  /* border:3px solid lightslategray; */
  text-align: center;
}

.cartColumnheading td:first-child{
  /* border:3px solid lightslategray; */
  width: 25%;
}

/* cart content colum per item-record */
.cartColumn {
  padding: 2%;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.cartColumn td{
  width: 20%;
  /* border:3px solid lightslategray; */
  text-align: center;
}

.cartColumn td:first-child{
  /* border:3px solid lightslategray; */
  width: 25%;
}

/* cart column Image css */
.cartImage {
  width: 100%;
  height : 230px;
  border:1px solid lightslategray;
}

.continue {
  font-size: 14px;
  /* border: 1px solid rgb(15, 128, 0); */
  background-color: black;
  color: aquamarine;
  padding: 2%;
}



/* checkout page css */
.checkoutBox {
  padding: 2%;
  background-color: rgb(235, 238, 238);
  width: 75%;
  margin: auto;
  margin-top: 2%;
}

.orderdetailsBox {
  width: 100%;
  font-size: 14px;
  color: rgb(85, 85, 85);
}

.orderdetailsBox div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}